$light: #fdff6b;
$fondo: rgb(252, 252, 217);
$border: 3px solid black;

header{
    nav{
        background-color: $light;
        border-bottom: $border;
        div{
            a{
                font-size: 2px;
            }
            img{
                height:70px;
            }
            ul{
                li{
                    padding:15px;
                    a{
                        color:black;

                    }
                }
            }
        }
    }
}
footer{
    background-color: $light;
    border-top: $border;
    height:80px;
    a{
        img{
            margin: 10px;
            margin-top: 30px;
            height: 30px;
        }
    strong{
        margin-left: 100px;
    }
    }
}

main{
    div{
        img{
            height:fit-content;
        }
    }
    .card{
        margin: 10px;
        .card-body{
            padding: 20px;
        }
        
    }
    .chabones{
        height: 480px;
    }
    h1{
        font-size: 50px;
    }
}

.nosotros-cuerpo{
    margin-top: 80px;
    margin-bottom: 80px;
}


@import "../node_modules/bootstrap/scss/bootstrap";
